# **Master’s in Applied Artificial Intelligence**
## **Course: Artificial Intelligence and Machine Learning**
### Prof. Luis Eduardo Falcón Morales
#### Tecnológico de Monterrey

### **Dimensionality reduction and recommendation systems**
##### **Name and student ID:**
* Mario Guillen de la Torre - A01796701

In [3]:
# Add all additional libraries and packages here.
import numpy as np
import pandas as pd
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity

UCI Data League "Restaurant & Consumer Data".
Download "Rcdata.zip" and from there we will need the "rating_final.csv" and "geoplaces2.csv" files.

https://archive.ics.uci.edu/dataset/232/restaurant+consumer+data

You can also use the following league:

https://www.kaggy.com/datasets/prajitdatta/movielens-100k-dataset

In [5]:
# Download the files on the ICU page from which we will generate
# Our utility matrices.
data_rating = pd.read_csv("rating_final.csv", header='infer', sep=",")
data_geo = pd.read_csv("geoplaces2.csv", header='infer',  encoding='latin-1')
print(data_rating.shape, data_geo.shape)

(1161, 5) (130, 21)

## **Exercise - 1**

### **Explain what is the purpose of using the argument "Latin-1" when loading the second file.**

+++++++ Section to add text starts: +++++++++++

Latin-1 is used as an argument of the Read_CSV function so that pandas can properly process the special characters of our alphabet, such as the "Ñ" and the letters with accents, thus avoiding errors when reading the file.

++++++++ Section to add text ends ++++++++++

## **Exercise - 2**

#### **Each restaurant must have a different name:**

In [11]:
# Let's look at the restaurant list.

# All of them are restaurants located in some city in the country of Mexico:


data_geo['name'].values

array(['Kiku Cuernavaca', 'puesto de tacos', 'El Rincón de San Francisco',
       'little pizza Emilio Portes Gil', 'carnitas_mata',
       'Restaurant los Compadres', 'Taqueria EL amigo ', 'shi ro ie',
       'Pollo_Frito_Buenos_Aires', 'la Estrella de Dimas',
       'Restaurante 75', 'Abondance Restaurante Bar',
       'El angel Restaurante', 'Restaurante Pueblo Bonito',
       'Mcdonalds Parque Tangamanga', 'Tortas y hamburguesas el gordo',
       'Sirlone', 'rockabilly ', 'Unicols Pizza', 'TACOS EL GUERO',
       'Restaurant El Muladar de Calzada', 'La Posada del Virrey',
       'Restaurant and Bar and Clothesline Carlos N Charlies', 'KFC',
       'Giovannis', 'Restaurant Oriental Express', 'Mariscos Tia Licha',
       'cafe ambar', 'Restaurante la Gran Via', 'don burguers',
       'Restaurante y Pescaderia Tampico', 'Rincon del Bife',
       'La Fontana Pizza Restaurante and Cafe',
       'Restaurante la Estrella de Dima', 'El Rincon de San Francisco',
       'Preambulo Wifi Zone Cafe', 'El Herradero Restaurante and Bar',
       'Koye Sushi', 'Restaurant Teely', 'la parroquia', 'Luna Cafe',
       'Hamburguesas La perica', 'Restaurante El Reyecito', 'churchs',
       'Dominos Pizza', 'el pueblito', 'emilianos',
       'Restaurant Bar Hacienda los Martinez', 'Vips',
       'Restaurante Alhondiga', 'los Toneles', 'Restaurant los Pinos',
       'Restaurante Guerra', 'Michiko Restaurant Japones',
       'Restaurante Marisco Sam',
       'la Cochinita Pibil Restaurante Yucateco', 'Potzocalli',
       'Restaurante la Parroquia Potosina', 'El Oceano Dorado',
       'Restaurante El Chivero S.A. de C.V.', 'Restaurant la Chalita',
       'El Club', 'Gordas de morales', 'Restaurante Versalles', 'Subway',
       'La Cantina Restaurante', 'Cenaduria El RincÃ³n de Tlaquepaque',
       'Los Vikingos', 'Hamburguesas Valle Dorado', 'la Cantina',
       'dairy queen', 'Arrachela Grill', 'vips', 'palomo tec',
       'Restaurante Casa de las Flores', 'VIPS', 'TACOS CORRECAMINOS',
       'Restaurant Wu Zhuo Yi', 'El Mundo de la Pasta',
       'Restaurante la Cantina', 'Gorditas Doa Gloria',
       'el lechon potosino ', 'Restaurante Bar Fu-hao', 'tortas hawai',
       'Carls Jr', 'Hamburguesas saul', 'Carreton de Flautas y Migadas',
       'Rincon Huasteco', 'El cotorreo', 'Gorditas Dona Tota',
       'Pizzeria Julios', 'Chilis Cuernavaca', 'Cafe Chaires',
       'tacos los volcanes', 'Little Cesarz', 'cafe punta del cielo',
       'tacos de la estacion', 'Restaurant Orizatlan',
       'Restaurant Familiar El Chino', 'Restaurant de Mariscos de Picon',
       'Sanborns Casa Piedra', 'La Estrella de Dimas', 'pizza clasica',
       'Carnitas Mata  Calle 16 de Septiembre',
       'Restaurante de Mariscos la Langosta',
       'Restaurante Bar El Gallinero', 'puesto de gorditas', 'Log Yin',
       'Mariscos El Pescador', 'carnitas mata calle Emilio Portes Gil',
       'crudalia', 'tacos de barbacoa enfrente del Tec',
       'Restaurant Las Mananitas', 'Restaurante El Cielo Potosino',
       'Mikasa', 'Cafeteria cenidet', 'Restaurante Tiberius',
       'Cabana Huasteca', 'Gorditas Dona Tota',
       'Cafeteria y Restaurant El Pacifico', 'La Virreina',
       'Tortas Locas Hipocampo', 'tacos abi', 'la perica hamburguesa',
       'McDonalds Centro', 'Chaires', 'Sushi Itto', 'Paniroles',
       'Restaurant Bar Coty y Pablo', 'sirloin stockade'], dtype=object)

* **All restaurants that appear on this list are different businesses, in the sense that they are physically located in different cities in Mexico, although some belong to a franchise, such as Vips.**

* **For the purposes of this exercise, we will be considering all restaurants as different. However, in the case of Vips, there are three restaurants in this list captured with names: Vips, Vips and Vips. That due to their coordinates of latitude and length we know that they are located in SLP, Cuernavaca and CDVictoria. The names could be changed by adding the city, but as the names were captured differently with tiny and capital letters, we will leave them for the moment in this way.**

* **At the moment we will not be doing the recommendations for the place where they are, but only for the evaluation of the restaurant and other features that have nothing to do with the location.**

* **There are other franchises also captured differently, except in the case of 'Gorditas Dona Tota', in which two of these restaurants that are located in CD. Victoria were recorded exactly with the same name. So that our recommendation system can differentiate them, you must change the name of one of them as indicated below.**

### **of the two restaurants registered with the name of 'Gorditas Dona Tota', finds its indexes and changes the one with the largest index in data_geo [name] to 'Gorditas Dona Tota 2'.**

In [14]:
# Exercise-2

# ************* Inlcuye your code: ******************************************************************************

# List of rates of the records with the name of 'Gorditas Dona Tota':

indices_Dona_Tota = data_geo[data_geo['name'] == 'Gorditas Dona Tota'].index
data_geo.at[np.max(indices_Dona_Tota),'name'] = 'Gorditas Dona Tota 2'

print('Verifying the name change: \n', data_geo.loc[indices_Dona_Tota, 'name'])

Verifying the name change:
 89       Gorditas Dona Tota
118    Gorditas Dona Tota 2
Name: name, dtype: object

## **Exercise - 3**

In [16]:
# At the moment we have the following data. Of the first file
# We have the general evaluation, that of food and service:

data_rating.head(3)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2

In [17]:
# And from the second file we get diverse information from each restaurant:
data_geo.head(2).T

,0,1
placeID,134999,132825
latitude,18.915421,22.147392
longitude,-99.184871,-100.983092
the_geom_meter,0101000020957F000088568DE356715AC138C0A525FC46...,0101000020957F00001AD016568C4858C1243261274BA5...
name,Kiku Cuernavaca,puesto de tacos
address,Revolucion,esquina santos degollado y leon guzman
city,Cuernavaca,s.l.p.
state,Morelos,s.l.p.
country,Mexico,mexico
fax,?,?
zip,?,78280
alcohol,No_Alcohol_Served,No_Alcohol_Served
smoking_area,none,none
dress_code,informal,informal
accessibility,no_accessibility,completely
price,medium,low
url,kikucuernavaca.com.mx,?
Rambience,familiar,familiar
franchise,f,f
area,closed,open
other_services,none,none

### ** From each of these files select and combine the appropriate variables to obtain a new data whose columns are the User ID (Userid), the ID of the restaurant (Placeid), the general qualification (rating) and the name of the restaurant (Name). This new dataframe calls it df_combinado. **

In [19]:
# Exercise 3:

# ************* Inlcuye your code: ******************************************************************************
df_combinado = pd.merge(data_rating, data_geo,on='placeID')
df_combinado = df_combinado[['userID','placeID','rating','name']]
# **:00******
# Let's display the dimension and first lines of this dataframe:

print(df_combinado.shape)
df_combinado.head()

(1161, 4)

  userID  placeID  rating                     name
0  U1077   135085       2   Tortas Locas Hipocampo
1  U1077   135038       2    Restaurant la Chalita
2  U1077   132825       2          puesto de tacos
3  U1077   135060       1  Restaurante Marisco Sam
4  U1068   135104       1                     vips

## **Exercise - 4**

In [21]:
# Exercise 4:

# Defines the utility matrix whose lines are the names of the
# restaurants, columns users and tickets
# General evaluation (rating). We will call it "utmx_rathing".

# ************* Inlcuye your code: ******************************************************************************
UtMx_rating = df_combinado.pivot_table(values='rating', index='name',columns='userID', fill_value=0)

print('Utility matrix dimension:')
print('(restaurants, users) =', (UtMx_rating.shape))
UtMx_rating.head()

Utility matrix dimension:
(restaurants, users) = (130, 138)

userID,U1001,U1002,U1003,U1004,U1005,U1006,U1007,U1008,U1009,U1010,...,U1129,U1130,U1131,U1132,U1133,U1134,U1135,U1136,U1137,U1138
name,,,,,,,,,,,,,,,,,,,,,
Abondance Restaurante Bar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Arrachela Grill,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Cabana Huasteca,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
Cafe Chaires,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Cafeteria cenidet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### **Similarities with the matrix obtained from truncated SVD factorization:**

* **Apply SVD factorization with the first 66 unique values to the utmx_rating utility matrix.**

* **The value of 66 was selected because as you will see, this amount of singular values is sufficient to describe at least 95% of the variance of the utility matrix.**

* **Recall that the svd factorization of a matrix has the form:**  $ a_ {m \ times n} = u_ {m \ times m} \ sigma_ {m \ times n} v_ {n \ times n}^t$

* **We will use the cosine function as a measure of similarity**

* **We will look for restaurants similar to the so -called "barbecue tacos in front of the TEC"**.

In [24]:
num_componentes=66  # most significant components


# Let's obtain the matrix of latent factors of restaurants:
SVD_rating = TruncatedSVD(n_components=num_componentes)  # We initialize
mat_fact_lat_restaurantes = SVD_rating.fit_transform(UtMx_rating) # Truncada-Secondry SVD

print('Dimension Latent Vectors Restaurants:', mat_fact_lat_restaurantes.shape)
print('Dimension transposed latent vectors Users:', SVD_rating.components_.shape)

# Let's calculate the accumulated variability of the components used:

print('\n Accumulated variability of the components used: %.3f' % SVD_rating.explained_variance_ratio_[0:num_componentes].sum())

# Similarity matrix

sim_matrix = cosine_similarity(mat_fact_lat_restaurantes)

# Reference restaurant:

restaurante_de_referencia = "tacos de barbacoa enfrente del Tec"
nombres_rest = UtMx_rating.T.columns  # List of restaurant names.

idx_rest = list(nombres_rest).index(restaurante_de_referencia) # Reference restaurant index.

sim_vector = sim_matrix[idx_rest] # Similarity vector of the reference restaurant against all.


# Looking for positive similarities:

idx = (sim_vector>0)
mejores_sim_rate = list()
for i in range(len(nombres_rest[idx])):
  mejores_sim_rate.append((sim_vector[idx][i], nombres_rest[idx][i]))

print('\n Total found:', len(mejores_sim_rate))

# We order them from greater to less relevance:

mejores_sim_rate_ordenadas = sorted(mejores_sim_rate, key=lambda x:x[0], reverse=True)

print('\n Best restaurant-based recommendations: \"%s\":' % restaurante_de_referencia)
mejores_sim_rate_ordenadas[1:11]   # We omit the first that is the same reference restaurant

Dimension Latent Vectors Restaurants: (130, 66)
Dimension transposed latent vectors Users: (66, 138)

 Accumulated variability of the components used: 0.952

 Total found: 76

 Best restaurant-based recommendations: "tacos de barbacoa enfrente del Tec":

[(0.9368225931210835, 'vips'),
 (0.9345772963953601, 'little pizza Emilio Portes Gil'),
 (0.927206511656241, 'tacos abi'),
 (0.52928467107528, 'Carreton de Flautas y Migadas'),
 (0.49539464843251224, 'puesto de gorditas'),
 (0.4766736415871014, 'Taqueria EL amigo '),
 (0.36471360385564766, 'carnitas_mata'),
 (0.2617441650721585, 'Little Cesarz'),
 (0.23347393392635565, 'Gorditas Dona Tota 2'),
 (0.18502268401794966, 'carnitas mata calle Emilio Portes Gil')]

## **Exercise - 5**

### **Hybrid system**

**Let's now use a hybrid system, which will consist of combining the "factors_-sister-in-laws" (which is an unarray) obtained previously, with the matrix of additional factors (which will also be an NDARY) formed by the One-Hot-Hot-Encoder columns of the factors 'DRES_CODE', 'Accessibility', 'Price', 'Price' and 'Franchise' of Dataframe Data_Geo.**

**At the moment we do not require the hybrid matrix**

**The lines of the hybrid matrix continue to represent each restaurant, but now with the information of the latent vectors of the SVD factorization, plus the Onehotencoding vectors of the new factors that were included.**

In [27]:
# Exercise 5:

# Defines the data "df_fact_adionales" formed by the factors 'dress_code',
# 'Accessibility', 'Price' and 'Franchise'.
# Then generate the matrix (nndarray), "mat_fact_adionales_ohe", which is obtained
# By transforming the columns (nominal categorical variables) of "df_fact_adionales"
# through Onehotencoding.
# Finally Horizontally combine the matrix "Mat_Fact_lat_restaurantes"
# with "mat_fact_adionales_ohe" to obtain the "matrix_hibrid" (nndarray).
# Take into account that "Matrix_Hhibited" will be formed by the columns of "Mat_Fact_lat_restaurantes"
# followed by the columns of "mat_fact_adionales_ohe".



# ************* Inlcuye your code: ******************************************************************************
df_fact_adicionales = data_geo.sort_values('name')[['dress_code','accessibility','price','franchise']]
mat_fact_adicionales_ohe = OneHotEncoder(drop='first',handle_unknown='ignore',sparse_output=False).fit_transform(df_fact_adicionales)
matriz_hibrida = np.concatenate((mat_fact_lat_restaurantes, mat_fact_adicionales_ohe),axis=1)

print('Hybrid matrix dimension:')
matriz_hibrida.shape

Hybrid matrix dimension:

(130, 73)

In [28]:
# Recall that "Restaurant_deferencia" is "barbecue tacos in front of the TEC".
# Get the restaurant index

idx = data_geo[data_geo['name'] == restaurante_de_referencia].index[0]

print('Reference restaurant:', restaurante_de_referencia)
print('Reference restaurant index:', idx)

Reference restaurant: tacos de barbacoa enfrente del Tec
Reference restaurant index: 111

## **Exercise - 6:**

**Once we have the hybrid matrix, with this matrix you must obtain the similarities (with respect to the cosine function) of the reference restaurant in relation to all restaurants, order them from greater to minor with respect to the similarity of the cosine and display the first 10 of greater similarity (without including the reference restaurant itself).**

In [31]:
# Exercise 6


# ************* Inlcuye your code: ******************************************************************************


sim_matrix = cosine_similarity(matriz_hibrida)

idx_rest = list(nombres_rest).index(restaurante_de_referencia)
sim_vector = sim_matrix[idx_rest]

idx = (sim_vector>0)
mejores_sim_rate = list()
for i in range(len(nombres_rest[idx])):
  mejores_sim_rate.append((sim_vector[idx][i], nombres_rest[idx][i]))

mejores_sim_rate_ordenadas = sorted(mejores_sim_rate, key=lambda x:x[0], reverse=True)

print('\n Best restaurant-based recommendations: \"%s\":' % restaurante_de_referencia)
mejores_sim_rate_ordenadas[1:11]

 Best restaurant-based recommendations: "tacos de barbacoa enfrente del Tec":

[(0.9614934586494657, 'tacos abi'),
 (0.8779539779149491, 'little pizza Emilio Portes Gil'),
 (0.7265933255779151, 'vips'),
 (0.6651277044498317, 'puesto de gorditas'),
 (0.6630697863694242, 'Carreton de Flautas y Migadas'),
 (0.6371934979838556, 'Carnitas Mata  Calle 16 de Septiembre'),
 (0.5019745180180336, 'cafe ambar'),
 (0.501830920095842, 'Taqueria EL amigo '),
 (0.49683283029433717, 'Pollo_Frito_Buenos_Aires'),
 (0.49054123379269177, 'Hamburguesas saul')]

## **Exercise - 7**

**Tncludes your comments and conclusions of the activity. In particular, comment on the differences between a recommendation system based only on SVD and one hybrid factorization.**

+++++++ Start the add text section: +++++++++++

The recommendation system based on SVD factorization is a quick and effective way to obtain results. This offers an easy method to implement and robust enough to obtain important results for analysis.

The hybrid system offers a more robust model, taking into account dates beyond the reviews given by users, allowing all the features to provide information to the Model.

In the results we can see that they are quite similar; However, the level of trust of the recommendations are not so optimistic and some positions change. This could indicate that the results are closer to reality.

++++++++ Section to add text ends ++++++++++

>> **End of the Recommendation Systems activity**